
@{
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}
<body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container" id="VuePage">
            <div class="card login-card">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img src="https://bobowin.blog/wp-content/uploads/20191217002034_93.jpg" alt="login" class="login-card-img">
                        <p class="text-white font-weight-medium text-center flex-grow align-self-end footer-link text-small">
                            Bøoking mission is to accelerate the world’s transition to sustainable energy.
                        </p>
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <div class="brand-wrapper">
                                <a class="navbar-brand mx-auto order-1 order-md-3"><h1>Bøoking</h1></a>
                                @*<img src="assets/images/logo.svg" alt="logo" class="logo">*@
                            </div>
                            <p class="login-card-description">Sign into your account</p>
                            <form>
                                <div class="form-group">
                                    <label for="email" class="sr-only">Email</label>
                                    <input type="text" name="email" id="email" class="form-control" placeholder="Account" v-model="form.UserID">
                                </div>
                                <div class="form-group mb-4">
                                    <label for="password" class="sr-only">Password</label>
                                    <input type="password" name="password" id="password" class="form-control" placeholder="***********" v-model="form.UserPwd">
                                </div>
                                @*<input name="login" id="login" class="btn btn-block login-btn mb-4" type="button" value="Login" >*@
                                <button type="button" class="btn btn-block login-btn mb-4" v-on:click="DoLogin()">登入</button>
                            </form>
                           
                            <a href="/Member/Register" class="forgot-password-link">還沒成為會員嗎?</a>
                            @*<p class="login-card-footer-text">Don't have an account? <a href="#!" class="text-reset">Register here</a></p>*@
                            <nav class="login-card-footer-nav">
                                <a href="#!">Copyright © Since 2022 Booking All Rights Reserved.</a>
                                @*<a href="#!">Privacy policy</a>*@
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ErrorAlert" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">錯誤訊息</h4>
                    </div>
                    <div class="modal-body" id="ErrorMsg" style="overflow-x:auto;width:100%;">

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </main>
</body>

@section scripts {
    <script>
        var VuePage = new Vue({
            el: '#VuePage'
            , data: function () {
                var data = {
                    form: {}
                };
                return data;
            }
            , methods: {
                // 執行登入按鈕
                DoLogin: function () {
                    var self = this;

                    // 組合表單資料
                    var postData = {};
                    postData['UserID'] = self.form.UserID;
                    postData['UserPwd'] = self.form.UserPwd;

                    // 使用 jQuery Ajax 傳送至後端
                    $.ajax({
                        url:'@Url.Content("~/Member/DoLogin")',
                        method:'POST',
                        dataType:'json',
                        data: { inModel: postData },
                        success: function (datas) {
                            if (datas.ErrMsg) {
                                alert(datas.ErrMsg);
                                return;
                            }
                            alert(datas.ResultMsg);
                            window.location='@Url.Content("~/Home/Index")'
                        },
                        error: function (err) {
                            $('#ErrorMsg').html(err.responseText);
                            $('#ErrorAlert').modal('toggle');
                        },
                    });
                }
            }
        })
    </script>
}
