
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
<div class="container" id="app">
    <div :class="['input-group', isEmailValid()]">

        <input type="email" class="form-control" placeholder="Email Address" v-model="form.UserEmail" />
    </div>
</div>