@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


<body>



    <main class="main pt-5">

        <div class="container pt-5">

            <div class="row">
                <div class="col-md-9">

                    <article class="card mb-4">
                        <header class="card-header">
                            <div class="card-meta">
                                <a href="#"><time class="timeago" datetime="2021-09-26 20:00" timeago-id="1">7 months ago</time></a> in <a href="page-category.html">Journey</a>
                            </div>
                            <a href="post-image.html">
                                <h4 class="card-title">How can we sing about love?</h4>
                            </a>
                        </header>
                        <a href="post-image.html">
                            <img class="card-img" src="img/articles/8.jpg" alt="">
                        </a>
                        <div class="card-body">
                            <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. </p>
                        </div>
                    </article><!-- /.card -->

                    

                </div>
                <div class="col-md-3 ms-auto">

                    <aside class="sidebar">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title">About</h4>
                                <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam <a href="#">semper libero</a>, sit amet adipiscing sem neque sed ipsum. </p>
                            </div>
                        </div><!-- /.card -->
                    </aside>

                    <aside class="sidebar sidebar-sticky">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title">Tags</h4>
                                <a class="btn btn-light btn-sm mb-1" href="page-category.html">Journey</a>
                                <a class="btn btn-light btn-sm mb-1" href="page-category.html">Work</a>
                                <a class="btn btn-light btn-sm mb-1" href="page-category.html">Lifestype</a>
                                <a class="btn btn-light btn-sm mb-1" href="page-category.html">Photography</a>
                                <a class="btn btn-light btn-sm mb-1" href="page-category.html">Food &amp; Drinks</a>
                            </div>
                        </div><!-- /.card -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title">Popular stories</h4>

                                <a href="post-image.html" class="d-inline-block">
                                    <h4 class="h6">The blind man</h4>
                                    <img class="card-img" src="img/articles/2.jpg" alt="">
                                </a>
                                <time class="timeago" datetime="2021-09-03 20:00" timeago-id="5">8 months ago</time> in Lifestyle

                                <a href="post-image.html" class="d-inline-block mt-3">
                                    <h4 class="h6">Crying on the news</h4>
                                    <img class="card-img" src="img/articles/3.jpg" alt="">
                                </a>
                                <time class="timeago" datetime="2021-07-16 20:00" timeago-id="6">9 months ago</time> in Work

                            </div>
                        </div><!-- /.card -->
                    </aside>

                </div>
            </div>
        </div>

    </main>


</body>