@using Book.Models
@model Buying

<br />


<br />
<div class="container">
    <div class="grid_1 ">
        <div class="grid_2 alpha">
            <img width="250" height="361" src="~/content/Images/guidien.jpg">
        </div>
        <div class="grid_1 alphaa">
            <div class="mod type02_p002">
                <h1 id="aq">鬼店</h1>
            </div>
            <div class="type02_p003">
                <ul>
                    <li>原文書名：The Shining</li>
                    <li>作者：史蒂芬金</li>
                    <li>出版年份：1977</li>
                    <li>出版社：皇冠出版事業股份有限公司</li>
                    <li>ISBN：9789573254003</li>
                    <li>譯者：黃意然</li>
                    <li>語言：繁體中文</li>
                    <li>售價: <span class="red"> 279</span>元</li>
                    <li>
                        @using (Html.BeginForm("Order1", "Events", FormMethod.Post))
                        {
                            <b>欲購買數量:</b> @Html.TextBox("many2", "1", new { style = "width: 30px;" }) <b>本</b>
                            <p><input type="submit" value="加入購物車" /></p>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid_1" style="height:auto;">
        <a>&nbsp;</a>
        <h3>內容介紹</h3>
        <h4 class="font">
            就在那個房間裡，透過拉起來的浴簾，他彷彿看到一個模糊的女人形體躺在浴缸裡──正如兒子丹尼所說的。即使關上了門，他仍恍似聽見那個死去多時的女人正爬出浴缸，要來歡迎她的訪客。傑克知道兒子常會看見一些奇怪的景象，有時甚至能感覺到「未來」才會發生的事。但他自己呢？難道他也發瘋了，就像第一任的冬季管理員那樣？多年前，第一任冬季管理員同樣是帶著全家赴任，最後卻突然發狂，先是拿斧頭活活砍死兩名幼女，再用獵槍殺害妻子後自殺！即使聽說了這場駭人的悲劇，傑克仍決定來這家著名的高山渡假飯店「全景」擔任冬季管理員，並帶著妻子溫蒂與五歲的丹尼同行。整個嚴冬休館期間，通往外界的路會被惡雪冰封，而他們一家人也將與世隔絕半年。但他別無選擇。曾是備受歡迎的名校老師、文壇新星，卻因酗酒和痛毆學生而變得一無所有，「全景」是他翻身的最後希望，他將在這裡完成偉大的巨著，然後討回那些他所應得的一切！他需要「全景」，然而傑克並不知道，「全景」也正等待著他……
        </h4>
    </div>

</div>
